:root {
    --blue: #336699;
    --white: #fefff3;
    --yellow: #c6ed2c;
    --black: #080001;
}


body {
    margin: 0;
    background: var(--blue);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

h1{
    color:var(--white);
}

h2{
    background: var(--black);
    color: var(--white);
    border-radius:5px;
    width: 200px;
    height: 120px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;  
}

h3{
    color: var(--white);
    border-radius:5px; 
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0px 10px;

}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    max-height: 450px;
}

.btn{
    color: var(--white);
    background: var(--blue);
    border:1px solid var(--white);
    margin: 20px 2px;
    width: 45px;
    border-radius: 5px;
}

.btn2{
    color: var(--white);
    background: var(--blue);
    border:1px solid var(--white);
    margin: 20px 2px;
    width: 30px;
    height: 25px;
    border-radius: 5px;
}

.score-global{
    margin: auto 0;
    padding: 0px 10px;
    min-width: 160px;
    max-height: 450px;
}



.games,.sets{
    display: flex;
    justify-content: center;
        
}

.sets-global,.games-global{
    display: flex;
    justify-content: space-around; 
    max-width: 70px;
    margin: 0 auto;           
}

.guest,.home{
    min-width: 300px;
    border: 4px solid var(--black);
    margin-top:20px;
    border-radius: 20px;
    max-height: 450px;
    
}

.sets-games{
    width: 150px;
    margin: 0 auto;
}